<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Rattrapage</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>

<body>
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            <div class="header-search">
                <form>
                    <div class="form-group mb-0">
                        <i class="dw dw-search2 search-icon"></i>
                        <input type="text" class="form-control search-input" placeholder="Cherche ici">
                    </div>
                </form>
            </div>
        </div>
        <div class="header-right">
            <div class="user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                        <i class="icon-copy dw dw-notification"></i>
                        <span class="badge notification-active"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="notification-list mx-h-350 customscroll">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/img.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo1.jpg" alt="">
                                        <h3>Lea R. Frith</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo2.jpg" alt="">
                                        <h3>Erik L. Richards</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo3.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo4.jpg" alt="">
                                        <h3>Renee I. Hansen</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/img.jpg" alt="">
                                        <h3>Vicki M. Coleman</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon">
                            <img src="vendors/images/user.svg" alt="">
                        </span>
                        <span class="user-name">Otman doda</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
                        <a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Aide</a>
                        <a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Se déconnecter</a>
                    </div>
                </div>
            </div>
            <div class="github-link">
                <span><img src="vendors/images/draw.svg" alt=""></span>
            </div>
        </div>
    </div>

    <div class="left-side-bar">
        <div class="brand-logo">
            <a href="index.html">
                <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
                <img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-dashboard"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Tableau de
                                board</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon fa fa-graduation-cap"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Les
                                etudiants</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="index.html">Génie Logiciel - GL1</a></li>
                            <li><a href="index2.html">Administrateur Réseaux</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon fa fa-bar-chart"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Notes</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="index.html">Génie Logiciel - GL1</a></li>
                            <li><a href="index2.html">Administrateur Réseaux</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-calendar"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Emploi du
                                temps</span>
                        </a>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-user-o"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Gestion des
                                Professeurs</span>
                        </a>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-calendar-check-o"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span
                                class="mtext">Absenses</span>
                        </a>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-calendar-minus-o"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span
                                class="mtext">Rattrapage</span>
                        </a>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-bell-o"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span
                                class="mtext">Notifications</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="pd-20 card-box mb-30">
                    <div class="wizard-content">
                        <div>
                            <h4 class="h4 d-inline">Abd Ali lasfer</h4>
                            <small class="form-text text-muted pl-10 d-inline">
                                &#8594; Absence : 13 April 2021 02:53 pm
                            </small>
                        </div>
                        <hr>
                        <form class="tab-wizard wizard-circle wizard pl-20" method="POST" enctype="multipart/form-data">
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dates de rattrapage possible :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Salle :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">Salle 1</option>
                                                    <option value="AK">Salle 2</option>
                                                    <option value="AK">Salle 3</option>
                                                    <option value="AK">Salle 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="text-right">
                                <a href="#" class="btn btn-danger" data-toggle="modal"
                                data-target="#confirmation-modal" >Annuler</a>
                                <button type="submit" class="btn btn-success">Validé </button>
                            </div>
                        
                        </form>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30">
                    <div class="wizard-content">
                        <div>
                            <h4 class="h4 d-inline">Abd Ali lasfer</h4>
                            <small class="form-text text-muted pl-10 d-inline">
                                &#8594; Absence : 13 April 2021 02:53 pm
                            </small>
                        </div>
                        <hr>
                        <form class="tab-wizard wizard-circle wizard pl-20" method="POST" enctype="multipart/form-data">
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dates de rattrapage possible :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Salle :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">Salle 1</option>
                                                    <option value="AK">Salle 2</option>
                                                    <option value="AK">Salle 3</option>
                                                    <option value="AK">Salle 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="text-right">
                                <a href="#" class="btn btn-danger" data-toggle="modal"
                                data-target="#confirmation-modal" >Annuler</a>
                                <button type="submit" class="btn btn-success">Validé </button>
                            </div>
                        
                        </form>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30">
                    <div class="wizard-content">
                        <div>
                            <h4 class="h4 d-inline">Abd Ali lasfer</h4>
                            <small class="form-text text-muted pl-10 d-inline">
                                &#8594; Absence : 13 April 2021 02:53 pm
                            </small>
                        </div>
                        <hr>
                        <form class="tab-wizard wizard-circle wizard pl-20" method="POST" enctype="multipart/form-data">
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dates de rattrapage possible :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Salle :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">Salle 1</option>
                                                    <option value="AK">Salle 2</option>
                                                    <option value="AK">Salle 3</option>
                                                    <option value="AK">Salle 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="text-right">
                                <a href="#" class="btn btn-danger" data-toggle="modal"
                                data-target="#confirmation-modal" >Annuler</a>
                                <button type="submit" class="btn btn-success">Validé </button>
                            </div>
                        
                        </form>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30">
                    <div class="wizard-content">
                        <div>
                            <h4 class="h4 d-inline">Abd Ali lasfer</h4>
                            <small class="form-text text-muted pl-10 d-inline">
                                &#8594; Absence : 13 April 2021 02:53 pm
                            </small>
                        </div>
                        <hr>
                        <form class="tab-wizard wizard-circle wizard pl-20" method="POST" enctype="multipart/form-data">
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dates de rattrapage possible :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                                    <option value="HI">13 April 2021 02:53 pm</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Salle :</label>
                                            <select class="custom-select2 form-control"
                                                style="width: 100%; height: 38px;">
                                                    <option value="AK">Salle 1</option>
                                                    <option value="AK">Salle 2</option>
                                                    <option value="AK">Salle 3</option>
                                                    <option value="AK">Salle 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="text-right">
                                <a href="#" class="btn btn-danger" data-toggle="modal"
                                data-target="#confirmation-modal" >Annuler</a>
                                <button type="submit" class="btn btn-success">Validé </button>
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h4 class="padding-top-30 mb-30 weight-500">Vous êtes sûr ?</h4>
                            <div class="padding-bottom-30 row" style="max-width: 170px; margin: 0 auto;">
                                <div class="col-6">
                                    <button type="button"
                                        class="btn btn-secondary border-radius-100 btn-block confirmation-btn"
                                        data-dismiss="modal"><i class="fa fa-times"></i></button>
                                    NON
                                </div>
                                <div class="col-6">
                                    <button type="button"
                                        class="btn btn-primary border-radius-100 btn-block confirmation-btn"
                                        data-dismiss="modal"><i class="fa fa-check"></i></button>
                                    OUI
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit
                    Hingarajiya</a>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="vendors/scripts/core.js"></script>
    <script src="vendors/scripts/script.min.js"></script>
    <script src="vendors/scripts/process.js"></script>
    <script src="vendors/scripts/layout-settings.js"></script>
</body>

</html>