<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Génie logiciel - GL1</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>

<body>
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            <div class="header-search">
                <form>
                    <div class="form-group mb-0">
                        <i class="dw dw-search2 search-icon"></i>
                        <input type="text" class="form-control search-input" placeholder="Cherche ici">
                    </div>
                </form>
            </div>
        </div>
        <div class="header-right">
            <div class="user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                        <i class="icon-copy dw dw-notification"></i>
                        <span class="badge notification-active"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="notification-list mx-h-350 customscroll">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/img.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo1.jpg" alt="">
                                        <h3>Lea R. Frith</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo2.jpg" alt="">
                                        <h3>Erik L. Richards</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo3.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/photo4.jpg" alt="">
                                        <h3>Renee I. Hansen</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="vendors/images/img.jpg" alt="">
                                        <h3>Vicki M. Coleman</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon">
                            <img src="vendors/images/user.svg" alt="">
                        </span>
                        <span class="user-name">Otman doda</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
                        <a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Aide</a>
                        <a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Se déconnecter</a>
                    </div>
                </div>
            </div>
            <div class="github-link">
                <span><img src="vendors/images/draw.svg" alt=""></span>
            </div>
        </div>
    </div>

    <div class="left-side-bar">
        <div class="brand-logo">
            <a href="index.html">
                <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
                <img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-dashboard"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Tableau de
                                board</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon fa fa-graduation-cap"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Les
                                etudiants</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="index.html">Génie Logiciel - GL1</a></li>
                            <li><a href="index2.html">Administrateur Réseaux</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon fa fa-bar-chart"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Notes</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="Notes.html">PL SQL</a></li>
                            <li><a href="Notes.html">SQL SOUS ORACLE</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon fa fa-calendar"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span class="mtext">Emploi du
                                temps</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="index.html">Mon emploi du temps</a></li>
                            <li><a href="index.html">Génie Logiciel - GL1</a></li>
                            <li><a href="index2.html">Administrateur Réseaux</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-calendar-check-o"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span
                                class="mtext">Absenses</span>
                        </a>
                    </li>

                    <li>
                        <a href="sitemap.html" class="dropdown-toggle no-arrow">
                            <span class="micon fa fa-bell-o"
                                style="padding-left: 15px; padding-bottom: 5px;"></span><span
                                class="mtext">Notifications</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 class="text-blue h4">Génie Logiciel - GL1</h4>
                    </div>
                    <div class="pb-20">

                        <table class="table hover multiple-select-row data-table-export nowrap">
                            <thead>
                                <tr>
                                    <th>N° Apogée</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Code Massar</th>
                                    <th>Email Personnel</th>
                                    <th>Téléphone</th>
                                    <th class="datatable-nosort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAooNE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-plus">19020547</td>
                                    <td>HAMDANE</td>
                                    <td>YASSINE</td>
                                    <td>&nbsp;J136461372</td>
                                    <td>amirnet001@gmail.com</td>
                                    <td>0672387235</td>
                                    <td>
                                        <a class="dropdown-item" style="background-color:transparent;" href="#"
                                            data-toggle="modal" data-target="#bd-example-modal-lg"><i
                                                class="dw dw-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-example-modal-lg" id="bd-example-modal-lg" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body" id="modall">
                            <dl class="row" style="padding-left: 20px;">
                                <dt class="col-sm-4">Nom</dt>
                                <dd class="col-sm-8">HAMDANE</dd>

                                <dt class="col-sm-4">Prénom</dt>
                                <dd class="col-sm-8">YASSINE</dd>

                                <dt class="col-sm-4">Code Apogée</dt>
                                <dd class="col-sm-8">19020547</dd>

                                <dt class="col-sm-4">CNE / Code Massar</dt>
                                <dd class="col-sm-8">J136461372</dd>

                                <dt class="col-sm-4">Genre</dt>
                                <dd class="col-sm-8">Masculin</dd>

                                <dt class="col-sm-4">Date de naissance</dt>
                                <dd class="col-sm-8">16/02/2001</dd>

                                <dt class="col-sm-4">Situation familiale</dt>
                                <dd class="col-sm-8">Célibataire</dd>

                                <dt class="col-sm-4">Nationalité</dt>
                                <dd class="col-sm-8">MAROCAIN(E)</dd>

                                <dt class="col-sm-4">Lieu de naissance</dt>
                                <dd class="col-sm-8">RABAT</dd>

                                <dt class="col-sm-4">N° C.N.I.E</dt>
                                <dd class="col-sm-8">AE293178</dd>

                                <dt class="col-sm-4">N° C.N.I.E du père</dt>
                                <dd class="col-sm-8">E322801</dd>

                                <dt class="col-sm-4">N° C.N.I.E de la mère</dt>
                                <dd class="col-sm-8">AB306235</dd>

                                <dt class="col-sm-4">Adresse </dt>
                                <dd class="col-sm-8">RES ELBOUSTANE IMM G11 APT 33 LOT SAID HAJJI SALE</dd>

                                <dt class="col-sm-4">Téléphone</dt>
                                <dd class="col-sm-8">0672387235</dd>

                                <dt class="col-sm-4">E-mail personnel</dt>
                                <dd class="col-sm-8">amirnet001@gmail.com</dd>

                                <dt class="col-sm-4">E-mail institutionnel</dt>
                                <dd class="col-sm-8">yassine_hamdane@um5.ac.ma</dd>

                                <dt class="col-sm-4">Année du BAC</dt>
                                <dd class="col-sm-8">2019</dd>

                                <dt class="col-sm-4">Couverture médicale</dt>
                                <dd class="col-sm-8">Aucune couverture</dd>

                            </dl>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                onclick="printJS({printable: 'modall',type: 'html', targetStyles: ['*']})"><i
                                    class="fa fa-print"></i>&nbsp;&nbsp;Imprimer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit
                    Hingarajiya</a>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="vendors/scripts/core.js"></script>
    <script src="vendors/scripts/script.min.js"></script>
    <script src="vendors/scripts/process.js"></script>
    <script src="vendors/scripts/print.min.js"></script>
    <script src="vendors/scripts/layout-settings.js"></script>
    <script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="vendors/scripts/datatable-setting.js"></script>
</body>

</html>